@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    text-align: center;
}
body {
    background-color: #d9d9d9;
    display: block;

}

::-webkit-scrollbar {
    display: none;
}

h1 {
    /*font-family: "Open Sans", sans-serif;*/
    font-family:  "Source Sans 3", sans-serif; 
    font-size: 20px;
    font-weight: 400;
}

header > img {
    width: 280px;
    border-radius: 10px 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.11);
}

p {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    position: relative;
    bottom: 30px;
}

ul {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

section {
    background-color: white;
    border-radius: 20px ;
    padding: 5px;
    margin: 10px;
    

}

section > img#image1 {
    width: 130px;
    border-radius: 100px 100px;
    position: relative;
    right: 100px;
    top: 10px;
    
}

section > h1#primeiro {
    position: relative;
    left: 65px;
    bottom: 75px;
}

ul > li {
 /*list-style: none;*/
 text-align: left;
}


main {
    background-color: white;
    border-radius: 10px ;
    padding: 5px;
    margin-top: 30px;
    padding-bottom: 20px;
}

h1.exemplos {
    background-color: #d9d9d9;
    border-radius: 10px ;
    padding: 5px;
    margin-top: 30px;
}



main > img, video, a {
    width: 200px;
}

a {
    font-family: "Montserrat", sans-serif;
    color: black;
}

div {
    text-align: center;
}
div, p {
    font-size: 18px;
    text-align: center;
}
div > h1 {
    margin-bottom: 30px;
    
}
div > p > a > img {
    width: 20px;
    margin-top: 10px ;
}